*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#970c10;
color:#f0ecd7;
}


/* HEADER */

header{
width:100%;
height:70px;
background:#f0ecd7;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 70px;
position:sticky;
top:0;
z-index:1000;

}

.logo img{
width:50px;
height:50px;
border-radius:50%;
}

.nav ul{
display:flex;
gap:40px;
list-style:none;
}

.nav a{
text-decoration:none;
color:#970c10;
font-weight:500;
}


/* HOME */


.banner{
height:520px;
padding-left:110px;
display:flex;
flex-direction:column;
justify-content:center;
position:relative;   /* ADD THIS */
}
.home-image{
position:absolute;
right:90px;
top:50%;
transform:translateY(-50%);
}
.creative{
font-family:'Allura',cursive;
font-size:32px;
margin-left:150px;
}

.title{
font-family:'Playfair Display',serif;
font-size:130px;
}

.script{
font-family:'Allura',cursive;
font-size:150px;
}

.year{
display:block;
font-size:36px;
margin-left:450px;
}

.author{
font-size:22px;
}

.home-image{
position:absolute;
right:90px;
top:50%;
transform:translateY(-50%);
}

.home-image img{
width:360px;
border-radius:20px;
}


/* ABOUT */

.about{
background:#f0ecd7;
color:#970c10;
padding:80px;
text-align:center;
}

.section-title{
font-family:'Playfair Display',serif;
font-size:80px;
margin-bottom:40px;
}

.about-text{
max-width:700px;
margin:auto;
line-height:1.8;
}


/* SKILLS */

.skills{
padding:80px;
text-align:center;
}

.skills-container{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
}

.skill-card{
background:#f0ecd7;
color:#970c10;
padding:30px;
width:140px;
border-radius:8px;
}


/* PROJECTS */

.projects{
background:#f0ecd7;
color:#970c10;
padding:80px;
text-align:center;
}

.project-buttons{
margin:30px 0;
}

.project-buttons button{
padding:10px 20px;
margin:10px;
background:#970c10;
color:#f0ecd7;
border:none;
cursor:pointer;
border-radius:5px;
}

.tab{
display:none;
}

.poster-gallery{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.poster-gallery img{
width:120px;
height:170px;
object-fit:cover;
}

.web-gallery img{
width:120px;
height:170px;
object-fit:cover;
}


/* CONTACT */

.contact{
background:#970c10;
text-align:center;
padding:80px;
}

.contact-info{
margin-top:20px;
line-height:2;
}
.footer{
text-align:center;
padding:20px;
background:#970c10;
color:#f0ecd7;
font-size:14px;
border-top:1px solid rgba(240,236,215,0.3);
}